* { box-sizing: border-box; font-family: 'Spartan', sans-serif; }

$primary : hsl(300, 43%, 22%);
$verified : hsl(333, 80%, 67%);

body{
    font-size:15px;
    background-image:url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

main {
    display:grid;
    grid-gap:30px;
    padding:10px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "stars"
    "reviews";
}

.title{
    grid-area:title;
    padding-top:35px;
    text-align:center;

        h1{
            padding-left:30px;
            padding-right:30px;
            color: $primary;
        }

        p{
            color:hsl(303, 10%, 53%);
            font-weight:500;
        }
}

.star-cards{
    grid-area:stars;
}

.card1{
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom:15px;


        .stars{
            margin-top:20px;
                display:flex;
                justify-content: space-evenly;
                width:155px;
            }

        p{
            color:$primary;
            font-weight:700;
        }
}

.reviews{
    grid-area:reviews;
}

.card2{
    background-color:$primary;
    border-radius:10px;
    display:grid;
    padding:33px;
    margin-bottom:20px;
    line-height:23px;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "img name"
    "text text";
    

        img{
            grid-area: img;
            border-radius: 9999px;
            width: 45px;
            margin:auto;
        }

        .name{
            grid-area: name;
            margin-left:20px;
            align-self:center;
            font-weight:700;
            color:white;
            
        }

        .verified{
            font-weight:400;
            color:$verified;
        }

        p{
            grid-area: text;
            color:white;
            font-weight:500;
        }
}


@media only screen and (min-width: 1400px) {
    
    body{
        display:flex;
        justify-content: center;
        align-items:center;
        background-image:url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
        background-position: top left, bottom right;
        overflow:hidden;
    }
    
    main {
        padding:100px;
        width:100vw;
        height:100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        grid-template-areas:
        "title stars"
        "reviews reviews";
        gap:0;
        // row-gap:70px;

    }

    .title{
        width:460px;
        margin:auto;
        margin-right:140px;
        margin-bottom:0;
        text-align: left;

            h1{
                font-size:45px;
                padding:0;
            }
    }

    .reviews{
        display:flex;
        max-width:1300px;
        height:300px;
        margin-top:70px;
        margin-left:auto;
        margin-right:auto;
        gap:2%;
    

            #colton{
                align-self:start;

            }

            #irene{
                align-self:center;
            }

            #anne{
                align-self:end;
            }

            .card2{
                width:400px;
                height:240px;
            }
    }

    .star-cards{
        margin-top:auto;
        margin-bottom:30px;
        margin-right:auto;
        justify-self:end;
        width:610px;
        display:flex;
        flex-direction:column;

            #in-reviews{
                align-self:start;
            }

            #in-guru{
                align-self:center;
            }
            
            #in-best{
                align-self:end;
            }
    }

    .card1{
        flex-direction:row;
        justify-content: left;
        gap:20px;
        padding-left:20px;
        height:60px;
        width:500px;

        .stars{
            margin-top:-7px;
            display:flex;
            justify-content: space-evenly;
            width:155px;
            }
    }   
}